# Axis Indexes & Duplicate Labels

In a Series or DataFrame that has duplicate index values, data selection behave differently. 

If you index a label with multiple entries, it returns a series, while single entries return a scalar value.

This can complicate things as the output type may vary based on whether a label is repeated or not

The indexâ€™s is_unique property can tell you whether its labels are unique or not

object.index.is_unique

In [1]:
import numpy as np
import pandas as pd

In [3]:
obj = pd.Series(range(5), index=['a','a','b','b','c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [4]:
obj.index.is_unique

False

In [5]:
obj['a']

a    0
a    1
dtype: int64

In [7]:
df = pd.DataFrame(np.random.randn(4,3), index=['a','a','b','b'])
df

          0         1         2
a  0.768186  2.692514  1.577963
a -0.821864  0.217587  0.938935
b  1.435727 -0.166456  1.547666
b -1.106901 -0.212747  0.523343

In [8]:
df.loc['a']

          0         1         2
a  0.768186  2.692514  1.577963
a -0.821864  0.217587  0.938935