# Function Application and Mapping

NumPy ufuncs (element-wise array methods) also work on pandas objects (See Universal Functions List).

In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(np.random.randn(16).reshape((4,4)), index=['a','b','c','d'])
df

          0         1         2         3
a -0.454064 -0.136437 -0.686486 -0.635234
b  0.601839  0.279724 -0.958393  0.480862
c  0.687220 -1.465790 -0.920721 -0.147185
d -0.221476  0.419565  0.611333  1.579432

In [3]:
df.mean()

0   -0.187979
1   -0.339788
2   -0.272365
3   -0.008315
dtype: float64

In [11]:
df.sum(axis=1)

a   -1.912221
b    0.404032
c   -1.846476
d    2.388854
dtype: float64

In [6]:
df.describe()

              0         1         2         3
count  4.000000  4.000000  4.000000  4.000000
mean   0.153380 -0.225734 -0.488567  0.319469
std    0.576081  0.859770  0.743067  0.956169
min   -0.454064 -1.465790 -0.958393 -0.635234
25%   -0.279623 -0.468775 -0.930139 -0.269197
50%    0.190181  0.071644 -0.803603  0.166838
75%    0.623184  0.314685 -0.362031  0.755505
max    0.687220  0.419565  0.611333  1.579432

#### Apply functions to a DataFrame using the apply method. This computation is invoked once on each column of frame. To apply it to each row, use axis=‘columns’

In [8]:
f = lambda x: x.min()-x.max()
df.apply(f)

0   -1.141284
1   -1.885355
2   -1.569726
3   -2.214666
dtype: float64

In [9]:
df.apply(f, axis='columns')

a   -0.550048
b   -1.560233
c   -2.153009
d   -1.800908
dtype: float64

<b>This does not have to return a scalar value, it can also return a Series with multiple values *Nice example of function creating series</b>

In [12]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

df.apply(f)

            0         1         2         3
min -0.454064 -1.465790 -0.958393 -0.635234
max  0.687220  0.419565  0.611333  1.579432

<b>If you want to apply a function Element-Wise, use .applymap
instead of apply. If you want to apply to one column, use .map</b>
- frame.applymap(f)
- frame[‘e’].map(f)