# Indexing, Selection, Filtering

Series indexing works the same as NumPy array indexing, except that you can use the Series index values instead of only integers.

### Series
Series indexing works the same as NumPy array indexing, except that you can use the Series index values instead of only integers.

In [1]:
import numpy as np
import pandas as pd

In [3]:
obj = pd.Series(np.arange(6), index=['a','b','c','d','e','f'])
obj

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int64

In [4]:
obj[1]

1

In [6]:
obj['b']

1

In [8]:
obj['b':'e']

b    1
c    2
d    3
e    4
dtype: int64

<b>Take point of the last slice. When indexing the index with index values, the end point is included which is a difference from Python. However, it is not included when indexing with integers.

Setting using these methods modifies the corresponding section of the Series</b>

### DataFrame
Can index based on the column or row

In [10]:
df = pd.DataFrame((np.arange(16).reshape((4,4))), index=['a','b','c','d'], 
                  columns=['California','Ohio','Texas', 'Nevada'])

df

   California  Ohio  Texas  Nevada
a           0     1      2       3
b           4     5      6       7
c           8     9     10      11
d          12    13     14      15

In [13]:
df['Ohio']

a     1
b     5
c     9
d    13
Name: Ohio, dtype: int64

In [14]:
df[1:3]

   California  Ohio  Texas  Nevada
b           4     5      6       7
c           8     9     10      11

#### Selection with .loc and .iloc
Both enable you to select a subset of the rows and columns from DF with NumPy-like notation using either axis labels(loc) or integer (iloc).

In [17]:
df.loc['b',['Ohio','Nevada']]

Ohio      5
Nevada    7
Name: b, dtype: int64

In [20]:
#If we want to index just using integers, use .iloc
df.iloc[1,[2,3]]

Texas     6
Nevada    7
Name: b, dtype: int64

In [21]:
df.iloc[2]

California     8
Ohio           9
Texas         10
Nevada        11
Name: c, dtype: int64

### Other indexing options for DataFrames
- df.loc[:, val] = selects a single column or subset of columns by label
- df.locl[val1, val2] = select both rows and columns by label
- df.iloc[integer]
- df.iloc[:, integer] = select single column or subset of columns by integer position.
- df.iloc[integer1, integer2] = select both rows and columns by integer position