# Reindexing

Important method in pandas is reindex
- This create a new object with the data conformed to a new index
- Calling reindex on the Series rearranges the data according to the new index, introducing missing values if any index values were not already already present.
- Notice how were are not rearranging the existing object but creating a new one

#### Series

In [9]:
import pandas as pd
import numpy as np
obj = pd.Series([1,2,3,4], index=['a','b','c','d'])
obj

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
obj1 = obj.reindex(['c','a','b','d','f'])
obj1

c    3.0
a    1.0
b    2.0
d    4.0
f    NaN
dtype: float64

For ordered data like time series, it may be desirable to do some interpolation or filling of values when reindexing.

The method option allows us to do this, using a method such as <b>ffill</b>, which forward fills the values. <b>bfill</b> back fills the values

In [6]:
obj1 = obj.reindex(['c','a','b','d','f'], method='ffill')
obj1

c    3
a    1
b    2
d    4
f    4
dtype: int64

#### DataFrames

Reindex can alter either the index, columns, or both. When passed only a sequence, it reindexes the rows as a result:

In [11]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)), index=['a','b','c'], columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
b     3      4           5
c     6      7           8

In [12]:
frame.reindex(['a','c','d','b'])

   Ohio  Texas  California
a   0.0    1.0         2.0
c   6.0    7.0         8.0
d   NaN    NaN         NaN
b   3.0    4.0         5.0

Columns can be reordered via the columns keyword

In [13]:
frame.reindex(columns=['California','Ohio','Texas'])

   California  Ohio  Texas
a           2     0      1
b           5     3      4
c           8     6      7

##### Good habit to get into is label-indexing using loc

In [14]:
frame.reindex(['a','c','d','b'], columns=['California','Ohio','Texas'])

   California  Ohio  Texas
a         2.0   0.0    1.0
c         8.0   6.0    7.0
d         NaN   NaN    NaN
b         5.0   3.0    4.0

### Reindex Function Arguments
- index = New sequence to use as a index
- method = Interpolation method; ‘ffill’ fills forward, ‘bfill’ fills backward.
- limit = when forward or backfilling, maximum size gap
- level = ‘Match simple index on level of Multiindex.

#### Use the fill_value=0 when reindexing to return a figure rather than NaN