# Sorting & Ranking
To sort lexigraphically by row or column index, use the sort_index method, which returns a new sorted object.

<b>Sort by the index or column</b>

In [2]:
import numpy as np
import pandas as pd

In [3]:
obj = pd.Series(range(6))
obj.sort_index()

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [4]:
df = pd.DataFrame(np.random.randn(16).reshape((4,4)), index=['c','b','f','e'], columns=['b','c','d','e'])

In [5]:
#sorts by the index
df.sort_index()

          b         c         d         e
b -0.741793 -0.083477  0.916791  0.469439
c  0.246861 -1.857500  0.289499 -0.754066
e  2.371358 -1.588066 -0.016581  0.166942
f -0.460139 -0.776630  0.990385 -0.600278

In [6]:
#can sort on the axis
df.sort_index(axis='columns')

          b         c         d         e
c  0.246861 -1.857500  0.289499 -0.754066
b -0.741793 -0.083477  0.916791  0.469439
f -0.460139 -0.776630  0.990385 -0.600278
e  2.371358 -1.588066 -0.016581  0.166942

In [7]:
#Sorted in ascending order by default, but can be sorted in descending as well: 
df.sort_index(axis=1, ascending=False)

          e         d         c         b
c -0.754066  0.289499 -1.857500  0.246861
b  0.469439  0.916791 -0.083477 -0.741793
f -0.600278  0.990385 -0.776630 -0.460139
e  0.166942 -0.016581 -1.588066  2.371358

<b>Sort by the values</b>

In [8]:
obj.sort_values()

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [9]:
#need to pass the 'by' argument in DataFrames
df.sort_values(by='b')

          b         c         d         e
b -0.741793 -0.083477  0.916791  0.469439
f -0.460139 -0.776630  0.990385 -0.600278
c  0.246861 -1.857500  0.289499 -0.754066
e  2.371358 -1.588066 -0.016581  0.166942

In [10]:
df.sort_values(by='e')

          b         c         d         e
c  0.246861 -1.857500  0.289499 -0.754066
f -0.460139 -0.776630  0.990385 -0.600278
e  2.371358 -1.588066 -0.016581  0.166942
b -0.741793 -0.083477  0.916791  0.469439